<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Dragon Ball FighterZ 教學站</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><span class="glyphicon glyphicon-education"></span> <font face="微軟正黑體">Dragon Ball FighterZ 教學站</font></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><font face="微軟正黑體">首頁 </font><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
      <li><a href="/info"><font face="微軟正黑體">網站簡介 </font><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
      <li><a href="https://www.youtube.com/channel/UCU2oDpp3YpJnNILQKGE3x3w" target="_blank">主頻道 <span class="glyphicon glyphicon-share"></span></a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="搜索(尚未開放)">
      </div>
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
    </form>
  </div>
</nav>
  
  <div class="container">
    <div class="col-md-4" style="padding:10px;">
      <img class="img-responsive img-circle" src="/static/dbfz.png">
    </div>
    <div class="col-md-8">
            <h2><span class="glyphicon glyphicon-alert"></span> <font face="微軟正黑體">網站尚未完成，後續功能Coming Soon....</font></h2>
            <table class="table table-striped">
                <thead>
                  <tr class="warning">
                    <th class="text-center"><span class="glyphicon glyphicon-user"></span> 站長簡介</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="text-center"><span class="glyphicon glyphicon-tag"></span> DBFZ ID</td>
                      <td class="text-center">SSJ_GOKU</td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="glyphicon glyphicon-tags"></span> STEAM ID</td>
                      <td class="text-center">SS GOKU REKT</td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="glyphicon glyphicon-screenshot"></span> MAIN角</td>
                      <td class="text-center">孫悟空(超級賽亞人)</td>
                    </tr>
                    <tr>
                      <td class="text-center"><span class="glyphicon glyphicon-fire"></span> MAIN隊</td>
                      <td class="text-center">巴達克<br>孫悟空(GT)<br>孫悟空(超級賽亞人)</br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
      <div class="col-md-12 col-md-offset-0">
        <h3 class="text-center"><span class="glyphicon glyphicon-list"></span><font face="微軟正黑體"> 教學文章列表</font></h3>
        <table class="table table-striped">
            <thead>
                <tr class="success">
                    <th class="text-center"><font size="4" face="微軟正黑體">分類</font></th>
                    <th class="text-center"><font size="4" face="微軟正黑體">篇數</font></th>
                </tr>
            </thead>
            <tbody>
                {% for c in cat %}
                <tr>
                  <td class="text-center"><font size="3" face="微軟正黑體">{{ c[0] }}</font></td>
                  <td class="text-center"><a href="/tech/{{ c[0] }}"><font size="3" face="微軟正黑體">{{ c[1] }} 篇</font></a></td>
                </tr>
                {% endfor %}
            </tbody>   
        </table>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12 col-md-offset-0">
        <table class="table table-striped">
            <thead>
                <tr class="warning">
                    <th class="text-center"><font size="4"><span class="glyphicon glyphicon-expand"></span> 精選影片</font></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="https://www.youtube.com/playlist?list=PLyt8AD2Vt61rCs5euCP5sL7frbkk15Iq5" target="_blank" style="text-decoration:none;color:purple;"><font size="4"><font face="微軟正黑體">〔邪念波〕連段全集列表(5) </font><span class="glyphicon glyphicon-hd-video"></span></font><br>
                    <iframe width="720" height="406" src="https://www.youtube.com/embed/OHXKrnn2kvg?list=PLyt8AD2Vt61rCs5euCP5sL7frbkk15Iq5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br></td>
                </tr>
                <tr>
                    <td align="center"><a href="https://www.youtube.com/playlist?list=PLyt8AD2Vt61qMKIMQbeyjk7Yb1pHaKXeA" target="_blank" style="text-decoration:none;color:orange;"><font size="4"><font face="微軟正黑體">〔SS孫悟空〕連段全集列表(6) </font><span class="glyphicon glyphicon-hd-video"></span></font><br><iframe width="720" height="406" src="https://www.youtube.com/embed/QqbyL220dDs?list=PLyt8AD2Vt61qMKIMQbeyjk7Yb1pHaKXeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br></td>
        </table>
      </div>
    </div>
  </body>
</html>